{% extends 'base.html.twig' %}

{% block title %}Knife index{% endblock %}

{% block body %}
    <h1>Index des couteaux</h1>
<div>
    <table class="table_all">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Fabricant</th>
                <th>Etat</th>
                <th>Propriétaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for knife in knives %}
            <tr>
                <td>{{ knife.name }}</td>
                <td>
                   {{ knife.maker }}
                </td>
                <td>{{ knife.state }}</td>
                <td>{{ knife.user.firstname }}</td>
                <td>
                    <a href="{{ path('knife_show', {'id': knife.id}) }}">Voir détails</a>
                    <a href="{{ path('knife_edit', {'id': knife.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="create">
    <a class="btn" href="{{ path('knife_new') }}">Create new</a>
</div>
{% endblock %}
