{% extends 'base.html.twig' %}

{% block title %}Knife{% endblock %}

{% block body %}
    <div class="full_name">
        <h1 class="knife_name">{{ knife.name }}</h1> par <h2 class="knife_maker">{{ knife.maker }}</h2>
    </div>
    <table class="table_details">
        <tbody>
            <tr>
                <th>Longeur de lame</th>
                <td>{{ knife.bladeLength }}</td>
            </tr>
            <tr>
                <th>Epaisseur de lame</th>
                <td>{{ knife.bladeThickness }}</td>
            </tr>
            <tr>
                <th>Materiau de la lame</th>
                <td>{{ knife.bladeMaterial }}</td>
            </tr>
            <tr>
                <th>Longueur du manche</th>
                <td>{{ knife.handleLength }}</td>
            </tr>
            <tr>
                <th>Materiau du manche</th>
                <td>{{ knife.handleMaterial }}</td>
            </tr>
            <tr>
                <th>Longueur totale</th>
                <td>{{ knife.totalLength }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ knife.state }}</td>
            </tr>
        </tbody>
    </table>
    <div class="images">
        {% for image in knife.images %}
        <img src="{{ vich_uploader_asset(image, 'posterFile') }}">
        {% endfor %}
    </div>
    <div>
        <a class="btn" href="{{ path('knife_index') }}">back to list</a>

        <a class="btn" href="{{ path('knife_edit', {'id': knife.id}) }}">edit</a>
    </div>
    {{ include('knife/_delete_form.html.twig') }}
{% endblock %}
